# blacklist all files except those that are specified
/*

# whitelist following files
!README.md
!.devcontainer/
!.gitignore
!.dockerignore
!rstudio_config_dir/
!rstudio_docker/
!docker-compose.yml

.Rproj.user
